name: Playwright Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9.12.3
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Application
        run: pnpm build

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0
        with:
          mongodb-version: "6.0"

      - name: Start Application
        run: pnpm start &
        env:
          NODE_ENV: test
          MONGO_URL: mongodb://localhost:27017
          DB_NAME: sado-test

      - name: Wait for Application to be Ready
        run: |
          for i in {1..10}; do
            if nc -z localhost 3000; then
              echo "Application is up!"
              break
            fi
            echo "Waiting for application..."
            sleep 3
          done

      - name: Install Playwright Browsers
        run: cd apps/frontend && pnpm exec playwright install --with-deps

      - name: Run Tests
        run: pnpm test:e2e

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: |
            apps/frontend/test-results/playwright/html-report
            apps/frontend/test-results/playwright/test-results
            apps/frontend/test-results/playwright/results.json
            apps/frontend/test-results/playwright/junit.xml
          retention-days: 30
